.homeUk,
.type {
  position: relative;
  font-weight: 300;
  display: inline-block;
}
.homeUk {
  white-space: pre-wrap;
  text-shadow: 1px 0 0#1f1f1f, 0 1px 0#1f1f1f, -1px 0 0#1f1f1f, 0-1px 0#1f1f1f;
  max-width: 100%;
}
.type {
  min-width: 70px;
}
.attributeLabels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.area,
.status {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.area {
  min-width: 68px;
}
.attributeLabels1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.furnishing {
  position: relative;
  font-weight: 300;
}
.furnishingLabel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 var(--padding-12xs);
}
.bedrooms {
  position: relative;
  font-weight: 300;
}
.attributeLabels2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.bathrooms {
  position: relative;
  font-weight: 300;
}
.attributeLabels3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.price {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 75px;
}
.propertyAttributes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl-2);
  min-width: 169px;
}
.starsIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.reviews {
  position: relative;
  font-weight: 500;
}
.reviewsCount {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xl) 0 var(--padding-7xl);
}
.ratingStars,
.starsParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.starsParent {
  width: 250px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.ratingStars {
  height: 93px;
  flex-direction: row;
  justify-content: flex-end;
}
.apartment {
  position: relative;
  font-weight: 600;
}
.summaryValues {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.readyToMove {
  position: relative;
  font-weight: 600;
}
.summaryValues1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-7xs);
}
.ft,
.furnished {
  position: relative;
  font-weight: 600;
}
.summaryValues2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.div {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 21px;
}
.summaryValues3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
}
.div1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 18px;
}
.summaryValues4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
}
.div2 {
  position: relative;
  font-weight: 600;
  white-space: nowrap;
}
.propertySummary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-11xl);
}
.propertyDetails,
.rating {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.rating {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-53xl);
  min-width: 272px;
  font-size: var(--font-size-6xl);
}
.propertyDetails {
  position: absolute;
  top: 4px;
  left: 581px;
  width: 650px;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-44xl);
}
.web141Icon {
  position: absolute;
  top: 153px;
  left: 0;
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.theLyra {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
}
.portalNorthAction {
  position: relative;
  font-size: var(--font-size-6xl);
}
.propertyTitle {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  font-size: var(--font-size-36xl);
}
.propertyInfo {
  align-self: stretch;
  height: 653px;
  position: relative;
  max-width: 100%;
  font-size: var(--font-size-11xl);
}
.breadcrumb,
.breadcrumbWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.breadcrumb {
  width: 1231px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-38xl);
}
.breadcrumbWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-127xl) var(--padding-16xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1050px) {
  .apartment,
  .area,
  .bathrooms,
  .bedrooms,
  .div,
  .div1,
  .div2,
  .ft,
  .furnished,
  .furnishing,
  .price,
  .readyToMove,
  .status,
  .type {
    font-size: var(--font-size-5xl);
  }
  .theLyra {
    font-size: var(--font-size-25xl);
  }
  .breadcrumbWrapper {
    padding-bottom: var(--padding-76xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .propertyAttributes {
    flex: 1;
  }
  .propertyDetails {
    flex-wrap: wrap;
  }
  .propertyInfo {
    height: auto;
    min-height: 653;
  }
  .breadcrumb {
    gap: var(--gap-9xl);
  }
}
@media screen and (max-width: 450px) {
  .homeUk {
    font-size: var(--font-size-base);
  }
  .area,
  .bathrooms,
  .bedrooms,
  .furnishing,
  .price,
  .status,
  .type {
    font-size: var(--font-size-lg);
  }
  .reviews {
    font-size: var(--font-size-xl);
  }
  .apartment,
  .div,
  .div1,
  .div2,
  .ft,
  .furnished,
  .readyToMove {
    font-size: var(--font-size-lg);
  }
  .theLyra {
    font-size: var(--font-size-14xl);
  }
  .portalNorthAction {
    font-size: var(--font-size-xl);
  }
  .breadcrumbWrapper {
    padding-bottom: var(--padding-43xl);
    box-sizing: border-box;
  }
}
