/* Grid container */
.gridContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px;
}

/* Grid items */
.gridContainer > div {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  height: auto;
  width: min-content;
}

.sortAndFilterParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.propertyListingsPage {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
}

/* Media queries */
@media screen and (max-width: 975px) {
  .content,
  .propertyCardParent {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(221px, 383px));
  }
  .content {
    grid-template-columns: repeat(2, minmax(226px, 391px));
  }
  .listings {
    padding-top: 79px;
    max-width: 100%;
  }
  .sortAndFilterParent {
    padding-left: var(--padding-xl);
  }
}

@media screen and (max-width: 725px) {
  .propertyCardParent {
    gap: var(--gap-7xl);
  }
  .sortAndFilterParent {
    gap: var(--gap-13xl);
  }
}

@media screen and (max-width: 450px) {
  .pune,
  .pune1,
  .villaWithSpacious,
  .villaWithSpacious1,
  .villaWithSpacious2 {
    font-size: var(--font-size-base);
  }
  .propertyCardParent {
    grid-template-columns: minmax(221px, 1fr);
  }
  .pune2 {
    font-size: var(--font-size-base);
  }
  .content {
    grid-template-columns: minmax(226px, 1fr);
  }
  .listings {
    padding-top: var(--padding-32xl);
  }
  .sortAndFilterParent {
    gap: var(--gap-base);
  }
}
