.formSection {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 400px;
}

.bedrooms, .bathrooms, .balconies, .areaDetails, .area, .floorDetails, .availability, .ageOfProperty, .possessionDate, .ownershipType {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bedroomsInput input, .bathroomsInput input, .balconiesInput input, .areaDetailsInput input, 
.totalFloorDetailsInput input, .propertyFloorDetailsInput input, .ageOfPropertyInput input, .possessionDateInput input, .ownershipTypeInput input {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  height: 40px; /* Common height */
  max-width: 500px; /* Adjust as needed */
}

.areaInput label, .availabilityInput label, .possessionDateInput label, .ownershipTypeInput label {
  display: flex;
  align-items: center; /* Vertically center align items */
  gap: 10px; /* Adjust gap as needed */
}

.areaInput input[type="checkbox"], 
.availabilityInput input[type="radio"], 
.possessionDateInput input[type="radio"], 
.ownershipTypeInput input[type="radio"] {
  width: auto;
  height: auto;
  margin-right: 5px; /* Adjust margin for alignment */
}

h2 {
  color: #2c3e50;
  margin-top: 20px; /* Space between the back button and the header */
}

.bedroomsName, .bathroomsName, .balconiesName, .areaDetailsName, .areaName, .floorDetailsName, 
.availabilityName, .ageOfPropertyName, .possessionDateName, .ownershipTypeName {
  color: #34495e;
  font-weight: bold;
}

button {
  align-self: flex-end;
  background-image: linear-gradient(90deg, #2895DF, #764EC6);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nextButton {
  margin-top: 20px; /* Space above the Next button */
}

button:hover {
  background-color: #1f6391;
}

@media (max-width: 600px) {
  .formSection {
    width: 100%;
  }
}
