.head {
  width: 100%;
  max-width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
}

.head p {
  padding: 0;
  margin: 0;
  color: #777;
}

.head {
  text-align: center;
  margin-bottom: 16px;
}

.carouselContainer {
  display: flex;
  align-items: center;
  width: 60vw;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  margin-bottom: 2vh;
}

.carouselViewport {
  width: 100%;
  height: fit-content;
  padding: 1vh;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.navButton {
  background-color: #2697e0;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.6em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.navButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.navButton:first-of-type {
  left: 0;
}

.navButton:last-of-type {
  right: 0;
}
