.footer {
  width: 100%;
  padding: 4vw 8vw;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.section h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.section p{
  padding: 0;
  text-align: start;
}

.section ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.section ul li {
  margin-bottom: 10px;
  cursor: pointer;
  text-align: left;
}

.section ul li:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .section {
    width: 45%;
    margin-bottom: 20px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }
}