<<<<<<< HEAD
.gallery {
  height: 49px;
  position: relative;
  display: flex;
  align-items: center;
}
.typeAndPriceValues {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.web183Icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.web183Wrapper {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.web162Icon,
.web211Icon {
=======
.location {
  position: relative;
}
.image13Icon {
  height: 60.5px;
  width: 57.1px;
  object-fit: cover;
}
.image13Icon,
.portalWNorth {
  position: relative;
}
.locationAddress,
.locationImage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.locationAddress {
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.locationImage {
  flex-direction: row;
  gap: var(--gap-14xl-1);
  font-size: var(--font-size-11xl);
}
.locationOnMap {
  align-self: stretch;
>>>>>>> efc6cd41fbfbb22488a4e52a2f908ee350cbbbbc
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
<<<<<<< HEAD
  min-height: 300px;
}
.frameParent {
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-54xl-4);
  grid-template-columns: repeat(3, minmax(269px, 1fr));
}
.contactContainer,
.frameParent,
.web191Icon {
  align-self: stretch;
  max-width: 100%;
}
.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-32xl);
}
.web191Icon {
  flex: 1;
  position: relative;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.web191Wrapper {
  height: 300px;
  width: 369.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.web171Icon,
.web201Icon {
  width: 350px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 300px;
  max-width: 100%;
}
.contactContainerParent,
.galleryImages {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-49xl-4);
  max-width: 100%;
}
.contactContainerParent {
  width: 1206px;
  flex-direction: column;
  gap: var(--gap-63xl-6);
}
.propertyDetailsPageInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-156xl);
  box-sizing: border-box;
  max-width: 100%;
=======
}
.locationDetails,
.locationDetailsWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.locationDetails {
  width: 1200px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl-8);
}
.locationDetailsWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-111xl) var(--padding-5xl);
  box-sizing: border-box;
>>>>>>> efc6cd41fbfbb22488a4e52a2f908ee350cbbbbc
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-300);
  font-family: var(--font-montserrat);
}
<<<<<<< HEAD
@media screen and (max-width: 1200px) {
  .galleryImages {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .gallery {
    font-size: var(--font-size-13xl);
  }
  .frameParent {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(269px, 467px));
  }
  .propertyDetailsPageInner {
    padding-bottom: var(--padding-95xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .web162Icon,
  .web211Icon {
    width: 100%;
  }
  .frameParent {
    gap: var(--gap-18xl);
    grid-template-columns: minmax(269px, 1fr);
  }
  .contactContainer {
    gap: var(--gap-6xl);
  }
  .galleryImages {
    gap: var(--gap-15xl);
  }
  .contactContainerParent {
    gap: var(--gap-22xl);
  }
  .propertyDetailsPageInner {
    padding-bottom: var(--padding-55xl);
=======
@media screen and (max-width: 1050px) {
  .location {
    font-size: var(--font-size-13xl);
  }
  .portalWNorth {
    font-size: var(--font-size-5xl);
  }
  .locationImage {
    flex-wrap: wrap;
  }
  .locationDetailsWrapper {
    padding-bottom: var(--padding-65xl);
>>>>>>> efc6cd41fbfbb22488a4e52a2f908ee350cbbbbc
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
<<<<<<< HEAD
  .gallery {
    font-size: var(--font-size-5xl);
  }
  .frameParent {
    gap: var(--gap-lg);
  }
  .galleryImages {
    gap: var(--gap-mid);
  }
  .contactContainerParent {
    gap: var(--gap-2xl);
=======
  .location {
    font-size: var(--font-size-5xl);
  }
  .portalWNorth {
    font-size: var(--font-size-lg);
  }
  .locationImage {
    gap: var(--gap-mid);
  }
  .locationDetailsWrapper {
    padding-bottom: var(--padding-36xl);
    box-sizing: border-box;
>>>>>>> efc6cd41fbfbb22488a4e52a2f908ee350cbbbbc
  }
}
