.wrapper {
  text-align: center;
  margin: 70px;
  /* border: 2px solid black; */
  padding: 30px;
  border-radius: 30px;
  box-shadow: 10px 10px 15px #cccbcb;
  background-color: #f0f9ff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.title {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 30px 10px;
}

.card {
  width: 18%;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  /* background-color: #f0f9ff; */
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 20px 0;
}

.card .content {
  padding: 10px;
}

.card a {
  text-decoration: none;
  color: inherit;
}
