<<<<<<< HEAD
.nav3Child {
=======
.nav2Child {
>>>>>>> efc6cd41fbfbb22488a4e52a2f908ee350cbbbbc
  height: 102px;
  width: 1440px;
  position: relative;
  background: linear-gradient(90deg, #2697e0, #784dc6);
  display: none;
  max-width: 100%;
}
.logo {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
<<<<<<< HEAD
=======
  display: inline-block;
  min-width: 62px;
>>>>>>> efc6cd41fbfbb22488a4e52a2f908ee350cbbbbc
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
}
<<<<<<< HEAD
.buttonLabels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.searchBarChild {
  height: 40px;
  width: 400px;
  position: relative;
  border-radius: var(--br-3xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.icbaselineSearchIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 1;
}
.searchBar,
.searchBarItem,
.searchBarWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.searchBarItem {
  width: 110px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 24px;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  font-family: var(--font-montserrat);
  font-weight: 300;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.searchBar,
.searchBarWrapper {
  max-width: 100%;
}
.searchBar {
  align-self: stretch;
  border-radius: var(--br-3xl);
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-2xs);
  gap: var(--gap-9xs);
  z-index: 1;
}
.searchBarWrapper {
  width: 407px;
  flex-direction: column;
  padding: 0 var(--padding-6xs) 0 0;
=======
.tablerhome {
  position: absolute;
  top: 1px;
  left: 3px;
  width: 18px;
  height: 18px;
  overflow: hidden;
  display: none;
}
.groupIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.tablerhomeParent {
  height: 21px;
  width: 21px;
  position: relative;
>>>>>>> efc6cd41fbfbb22488a4e52a2f908ee350cbbbbc
}
.home {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
<<<<<<< HEAD
  cursor: pointer;
  z-index: 1;
}
.homeWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.buy {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
  z-index: 1;
}
.secondIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-5xs) 0 0;
}
.rent {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  z-index: 1;
}
.homeLink {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-10xs) 0 0;
}
.sell {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  z-index: 1;
}
.buttonLabels1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-5xs) 0 0;
}
.icon {
  height: 33.3px;
  width: 33.3px;
  position: relative;
  z-index: 1;
}
.linkButtons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.linkButtonsWrapper,
.nav3 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.linkButtonsWrapper {
  width: 458.3px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-7);
  font-size: var(--font-size-base);
}
.nav3 {
  align-self: stretch;
  background: linear-gradient(90deg, #2697e0, #784dc6);
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-12xl) var(--padding-110xl) var(--padding-12xl)
    var(--padding-93xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
=======
  display: inline-block;
  min-width: 51px;
}
.homeContent {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.homeContent,
.homeLink,
.homeLinks,
.nav2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.homeLink {
  flex-direction: row;
  gap: var(--gap-6xs);
  cursor: pointer;
  z-index: 1;
}
.homeLinks,
.nav2 {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  text-align: left;
  font-size: var(--font-size-base);
}
.nav2 {
  align-self: stretch;
  background: linear-gradient(90deg, #2697e0, #784dc6);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-20xl) var(--padding-xl) var(--padding-20xl)
    var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-1068xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
>>>>>>> efc6cd41fbfbb22488a4e52a2f908ee350cbbbbc
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1200px) {
<<<<<<< HEAD
  .linkButtons {
    display: none;
  }
  .linkButtonsWrapper {
    width: 0;
  }
}
@media screen and (max-width: 825px) {
  .nav3 {
    padding-left: var(--padding-37xl);
    padding-right: var(--padding-45xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .nav3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
=======
  .nav2 {
    gap: var(--gap-524xl);
  }
}
@media screen and (max-width: 750px) {
  .nav2 {
    gap: var(--gap-253xl);
  }
}
@media screen and (max-width: 450px) {
  .nav2 {
    gap: var(--gap-117xl);
>>>>>>> efc6cd41fbfbb22488a4e52a2f908ee350cbbbbc
  }
}
