.navbar {
  z-index: 1050;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.75vw 8vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: var(--color-white);
  background-image: transperant;
  font-weight: 600;
  
}

.navtransparent {
  background-color: transparent !important;
  background-image: none;
  transition: background-color 1s ease,color 1s ease;
}

.navcolored {
   background-color: #764EC6; /* fallback color if gradient is not supported */
  background-image: linear-gradient(90deg, #2895DF, #764EC6); 
}

.navitem {
  /* cursor: pointer; */
  font-family: var(--font-montserrat);
  font-size: 16px;
}

.searchBar {
  background-color: var(--color-white);
  padding: 5px 15px;
  width: 40vw;
  border-radius: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.searchinput {
  width: 100%;
  border: none;
  font-weight: 500;
  outline: none;
}

.homeIcon {
  height: 30px;
  width: 30px;
}

.logo{
  cursor: pointer;
}
