.navbar {
  z-index: 1050;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.75vw 8vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: var(--color-white);
  background-image: transperant;
  font-weight: 600;
  
}

.navtransparent {
  background-color: transparent !important;
  background-image: none;
  transition: background-color 1s ease,color 1s ease;
}

.navcolored {
   background-color: #764EC6; /* fallback color if gradient is not supported */
  background-image: linear-gradient(90deg, #2895DF, #764EC6); 
}

.navitem {
  /* cursor: pointer; */
  font-family: var(--font-montserrat);
  font-size: 16px;
}

.searchBar {
  background-color: var(--color-white);
  padding: 5px 15px;
  width: 40vw;
  border-radius: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.searchinput {
  width: 100%;
  border: none;
  font-weight: 500;
  outline: none;
}

.homeIcon {
  height: 30px;
  width: 30px;
}


.filter{
  color: black;
  font-size: 13px;
  text-wrap: nowrap;
  display: flex;
  position: relative;
}

.filterlist {
  position: absolute; 
  top: 95%; 
  left: -4px;
  width: 530%;
  /* left:-12px;
  width:544%; */
  height: 150px;
  background:var(--color-white);
  z-index: 9;
  border-radius: 12px;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  display: flex;
}

.dropdownfilter {
  cursor: pointer;
}

.filterlist.visible {
  max-height: 200px; 
  opacity: 1;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.column{
  width: 45%;
  margin-left: 5% ;
}

.filterElement{
  margin-top: 25px;
}

.rotate {
  display: inline-block; /* Ensure the span is treated as a block for transformation */
  transition: transform 0.3s ease; /* Add transition for smooth rotation */
}

.rotated {
  transform: rotate(180deg); /* Rotate the element by 180 degrees */
}

.logo{
  cursor: pointer;
}