.searchBar {
  background-color: var(--color-white);
  padding: 5px 15px;
  width: 50%;
  height: 5vh;
  border-radius: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.searchinput {
  width: 100%;
  border: none;
  font-weight: 500;
  background: none;
  padding: 2vh;
  margin-top: 1.2vh;
}

.homeIcon {
  height: 30px;
  width: 30px;
}

.filter {
  color: black;
  font-size: 13px;
  text-wrap: nowrap;
  display: flex;
  position: relative;
}

.filterlist {
  position: absolute;
  top: 95%;
  left: -4px;
  width: 530%;
  height: 150px;
  background: var(--color-white);
  z-index: 9;
  border-radius: 12px;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  display: flex;
}

.dropdownfilter {
  cursor: pointer;
}

.filterlist.visible {
  max-height: 200px;
  opacity: 1;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.column {
  width: 45%;
  margin-left: 5%;
}

.filterElement {
  margin-top: 25px;
  width: 30%;
}

.rotate {
  display: inline-block; /* Ensure the span is treated as a block for transformation */
  transition: transform 0.3s ease; /* Add transition for smooth rotation */
}

.rotated {
  transform: rotate(180deg); /* Rotate the element by 180 degrees */
}
