/* * { border: 1px solid green; } */

* {
  box-sizing: border-box;
  text-decoration: none;
}

.propertyCard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: black;
  font-family: var(--font-montserrat);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  font-size: 20px; 
}

.propertyCard > * {
  width: 100%;
}

.image {
  width: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  margin-top: 20px;
}

.title {
  font-weight: 500;
}

.frameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-shrink: 0;
  gap: var(--gap-xl);
}
.propertyCard,
.villaWithSpaciousAndLargeParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.villaWithSpaciousAndLargeParent {
  align-self: stretch;
  gap: var(--gap-8xs-8);
}
.propertyCard {
  height: 288px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  padding: var(--padding-5xs) 0 var(--padding-8xs-3) var(--padding-4xs);
  gap: var(--gap-sm);
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 450px) {
  .pune,
  .villaWithSpacious {
    font-size: var(--font-size-base);
  }
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.mapPinIcon {
  height: 25px;
  width: 25px;
}

.city {
  width: 100px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}
