.cardsContainer {
  display: flex;
  gap: 2vw;
  overflow-x: auto;
  padding: 10px 0;
  align-items: stretch; /* Align cards to stretch to the same height */
  justify-content: center;
  scroll-behavior: smooth;
}

.carousel{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.card {
  min-width: 250px; /* Adjusted size for 4 cards */
  width: 15vw;      /* Adjusted size for 4 cards */
  height: 40vh;     /* Fixed height for all cards */
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f8f8f8;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.carouselTitle{
  font-size: 50px;
  font-weight: normal;
}

.image {
  width: 100%;
  height: inherit;
  max-height: 60%; /* Ensure the image does not exceed 60% of the card height */
  object-fit: cover;
  background: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.info {
  padding: 10px;
  text-align: center;
  flex-grow: 0; /* Ensure title section has consistent size */
}

.title {
  font-size: 20px; /* Font size for title */
  margin: 10px 0;
  color: #333;
  font-weight: 500;
}

.descriptionContainer {
  padding: 10px;
  text-align: center;
  flex-grow: 1; /* Make description section take up remaining space */
  display: flex;
  align-items: flex-end; /* Align text at the bottom */
}

.description {
  font-size: 14px; /* Adjusted font size */
  color: #666;
  margin: 0;
}
