 /* * { border: 1px solid green; } */

.PropertyDetails *,
.Details,
.Gallery *,
.Description *,
.FacilitiesAmenities *,
.Location * {
    font-family: var(--font-montserrat);
}

.Description,
.FacilitiesAmenities,
.Location {
    width: 100%;
    padding: 4vw 8vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Details {
    width: 100%;
    padding: 8vw 8vw 0vw 8vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.PropertyDetails {
    display: flex;
    flex: column;
}
.left {
    width: 60%;
}
.right {
    width: 40%;
}

.Gallery {
    width: 100vw;
    padding: 2vw 8vw 0vw ;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.images {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden; /* Hide vertical overflow */
    gap: 5px;
    scroll-snap-type: x mandatory; /* Enable horizontal scroll snapping */
    padding: 10px 0; /* Optional: Padding to adjust the spacing */
}

.image {
    flex: 0 0 400px; /* Fixed width for images */
    height: 400px; /* Fixed height for images */
    object-fit: cover; /* Cover the container without stretching */
    scroll-snap-align: start; /* Snap to the start of the container */
}

.breadcrumb {
    font-family: var(--font-montserrat);
    width: 100%; 
    font-size: 16px;
    font-weight: 600;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 30px;
    font-weight: 600;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.propertyname {
    font-size: 30px;
    font-weight: 600;
}

.ratings {    
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 40px;
}

.stars {
    font-size: 25px;
    color: yellow;              
    -webkit-text-stroke: 0.5px black;
    padding: 0px 5px;
}

.reviews{
    font-size: 20px;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    font-size: 18px;
    line-height: 20px;
}

i {
    line-height: 20px;
    padding: 5px;
}

.propimage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 500px;
    width: 450px;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 650px;
    gap: 25px;
    font-size: 20px;
}

.datarow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.basis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 190px;
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 440px;
    font-weight: 600;
    padding: 10px;
}

.describe {
    font-size: 18px;
    line-height: 30px;
}

.list {
    font-size: 18px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.datarowfa {
    width: 50%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.img {
    height: 30px;
    width: 30px;
}

.address {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 20px;
}

.mapicon {
    height: 30px;
    width: 30px;
}

.map {
    height: 500px;
    width: 100%;
    border: none;
    /* opacity: 0.5; */
    /* transition: opacity ease-in 200ms ; */
}
/* 
.map:hover {
    opacity: 1;
} */