<<<<<<< HEAD
.propertyCardChild {
  width: 295px;
  height: 288px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  display: none;
}
.image4Icon {
  width: 275px;
  flex: 1;
  position: relative;
  border-radius: var(--br-4xs);
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.villaWithSpacious {
  align-self: stretch;
  height: 46.2px;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.3),
    -1px 0 0 rgba(0, 0, 0, 0.3), 0-1px 0 rgba(0, 0, 0, 0.3);
  debug_commit: 69da668;
}
.mapPinIcon,
.pune,
.villaWithSpacious {
  position: relative;
  z-index: 1;
}
.mapPinIcon {
  height: 33.7px;
  width: 32.1px;
  object-fit: cover;
}
.pune {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.3),
    -1px 0 0 rgba(0, 0, 0, 0.3), 0-1px 0 rgba(0, 0, 0, 0.3);
}
.city,
.mapPinParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.city {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  margin-left: -0.1px;
}
.mapPinParent {
  flex-direction: row;
}
.rsXCrores,
.xxAcres {
  position: relative;
  font-weight: 300;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.3),
    -1px 0 0 rgba(0, 0, 0, 0.3), 0-1px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.frameWrapper,
.xxAcresParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.xxAcresParent {
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frameWrapper {
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xs-7);
  font-size: var(--font-size-sm);
}
.frameParent {
  width: 257px;
=======
/* * { border: 1px solid green; } */

* {
  box-sizing: border-box;
  text-decoration: none;
}

.propertyCard {
  width: 260px;
  height: 320px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: black;
  font-family: var(--font-montserrat);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  font-size: 18px; 
}

.propertyCard > * {
  width: 100%;
}

.image {
  width: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 20px;
  height: 100%;
}

.title {
  font-weight: 500;
}

.frameParent {
>>>>>>> efc6cd41fbfbb22488a4e52a2f908ee350cbbbbc
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
<<<<<<< HEAD
  flex-shrink: 0;
  debug_commit: 69da668;
  gap: var(--gap-xl);
}
.propertyCard,
.villaWithSpaciousAndLargeParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.villaWithSpaciousAndLargeParent {
  align-self: stretch;
  gap: var(--gap-8xs-8);
}
.propertyCard {
  height: 288px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  padding: var(--padding-5xs) 0 var(--padding-8xs-3) var(--padding-4xs);
  gap: var(--gap-sm);
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 450px) {
  .pune,
  .villaWithSpacious {
    font-size: var(--font-size-base);
  }
=======
  width: 100%;
  font-size: 14px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.mapPinIcon {
  height: 25px;
  width: 25px;
}

.city {
  width: 100px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
>>>>>>> efc6cd41fbfbb22488a4e52a2f908ee350cbbbbc
}
