.currPage {
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  font-weight: bold;
  color: #2697E0;
}

.notCurrPage{
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}
.sidebar {
  display: flex;
  margin-left: -416px;
  height: 95vh;
  width: 289px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #444444;
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-37xl) var(--padding-30xl);
  gap: 8vh;
  min-width: 289px;
  flex-shrink: 0;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
  white-space: nowrap;
  margin-top: 5vh;
}
@media screen and (max-width: 1425px) {
  .sidebar {
    flex: 1;
  }
}
@media screen and (max-width: 1200px) {
  .sidebar {
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .currPage, .notCurrPage {
    font-size: var(--font-size-base);
  }
  .sidebar {
    gap: var(--gap-16xl);
    gap: var(--gap-16xl);
    padding: var(--padding-4xl) var(--padding-xl);
    box-sizing: border-box;
  }
}
